:root {
    --banner: darkseagreen
}

#titleText {
    font-family: 'cuphead-felix' !important;
    padding-top: 3px
}

.graveyard.button {
    font-family: 'cuphead-felix';
    font-size:110%;
    margin-top:6px;
    height:24px
}

#table div{
    background-color: var(--banner);
}